HeatProductionOptimizer/obj/HeatProductionOptimizer.csproj.nuget.dgspec.json
HeatProductionOptimizer/obj/HeatProductionOptimizer.csproj.nuget.dgspec.json
HeatProductionOptimizer/obj/HeatProductionOptimizer.csproj.nuget.dgspec.json
HeatProductionOptimizer/obj/project.assets.json
HeatProductionOptimizer/obj/project.nuget.cache
HeatProductionOptimizer/obj/Debug/net8.0/HeatProductionOptimizer.AssemblyInfo.cs
HeatProductionOptimizer/obj/Debug/net8.0/HeatProductionOptimizer.assets.cache
HeatProductionOptimizer/obj/Debug/net8.0/HeatProductionOptimizer.csproj.AssemblyReference.cache
HeatProductionOptimizer/obj/Debug/net8.0/HeatProductionOptimizer.GeneratedMSBuildEditorConfig.editorconfig
HeatProductionOptimizer/obj/Debug/net8.0/HeatProductionOptimizer.GlobalUsings.g.cs
HeatProductionOptimizer.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_HeatProductionOptimizer.Tests
HeatProductionOptimizer.Tests/obj/HeatProductionOptimizer.Tests.csproj.nuget.dgspec.json
HeatProductionOptimizer.Tests/obj/HeatProductionOptimizer.Tests.csproj.nuget.g.props
HeatProductionOptimizer.Tests/obj/project.assets.json
HeatProductionOptimizer.Tests/obj/project.nuget.cache
HeatProductionOptimizer.Tests/obj/Debug/net8.0/HeatProductionOptimizer.Tests.AssemblyInfo.cs
HeatProductionOptimizer.Tests/obj/Debug/net8.0/HeatProductionOptimizer.Tests.AssemblyInfoInputs.cache
HeatProductionOptimizer.Tests/obj/Debug/net8.0/HeatProductionOptimizer.Tests.csproj.AssemblyReference.cache
HeatProductionOptimizer.Tests/obj/Debug/net8.0/HeatProductionOptimizer.Tests.assets.cache
HeatProductionOptimizer.Tests/obj/Debug/net8.0/HeatProductionOptimizer.Tests.csproj.CopyComplete
HeatProductionOptimizer.Tests/obj/Debug/net8.0/HeatProductionOptimizer.Tests.GlobalUsings.g.cs
HeatProductionOptimizer.Tests/obj/Debug/net8.0/HeatProductionOptimizer.Tests.GlobalUsings.g.cs
